<section class="section--l-m-bottom">
  <div class="container grid--all">
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/automata') -%>
      </div>
    </div>
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/bk') -%>
      </div>
    </div>
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/conde-nast') -%>
      </div>
    </div>
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/intact') -%>
      </div>
    </div>
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/dcs') -%>
      </div>
    </div>
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/stc') -%>
      </div>
    </div>
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/pg') -%>
      </div>
    </div>
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/ab') -%>
      </div>
    </div>
    <div class="client">
      <div class="client__image">
        <%- include('../partials/svg/clients/room187') -%>
      </div>
    </div>
  </div>
</section>
