<footer id="contact" class="footer" data-footer>
	<div class="container footer__grid">
		<div class="footer__heading">
      <% 
        
        let socialMedia = footer.social_media
      %>
			<h2 class="footer__title type--l type--white type--m-margin">
        <%- footer.title %>
			</h2>

			<p class="type--body type--off-white">
        <%- footer.message %>
        
			</p>
		</div>

    <p class="footer__connect type--body type--off-white">
      <%- footer.email_alt_text %>
      <a class="link footer__email" href="mailto:=<%- footer.email %>">
        <%- footer.email %>
      </a>
    </p>
    
    <div class="footer__socials">
      <% socialMedia.forEach((link) =>  { %>
      
      <a class="link type--body" href="<%- link.social_media_link %>" target="_blank">
        <%- link.social_media_name %>
      </a>
      <% }) %>
    </div>

		<div class="footer__copyright">
      <% let year = new Date().getFullYear() %>
			<p class="type--body type--off-white">&copy;<%- year %></p>
		</div>
  </div>
</footer>