<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="Lloyd Bennett" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <% if (page !== "home") { %>
  <title><%- `${document.data.title} | ${meta.data.title}` %></title>
  <% } else { %>
  <title><%- meta.data.title %></title>
  <% } %>
  
  <meta name="description" content="<%- meta.data.description %>">
  <meta name="keywords" content="<% meta.data.meta_keywords.forEach((item, i) => {%><%if(i === meta.data.meta_keywords.length - 1) { %><%- item.keyword %><% } else {%><%- item.keyword %>, <%}})%>">

  <meta property="og:url" content="<%- fullUrl %>" />
  <meta property="og:title" content="<%- meta.data.title %>" />
  <meta property="og:description" content="<%- meta.data.description %>" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%- meta.data.image.url %>"/>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@LloydBennett_" />
  <meta name="twitter:title" content="<%- meta.data.title %>"/>
  <meta name="twitter:description" content="<%- meta.data.description %>" />
  <meta name="twitter:image" content="<%- meta.data.image.twitter.url %>" />

  <link rel="stylesheet" href="https://use.typekit.net/nsp0voe.css">
  <link rel="stylesheet" href="/main.css">
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>