<% 
  let svg = "M 0 100 V 100 Q 50 100 100 100 V 100 z" 
  let aboutTitle = about.data.nav_menu_alias
  let aTitle = aboutTitle.split("")
%>

<div class="nav-menu z-index--3" data-lenis-prevent data-nav-menu>
  <div class="nav-menu__bg">
    <%- include('./svg/background', { path: svg, dataAttr: "data-nav-menu-bg" }) -%>
  </div>
  
  <ul class="nav-menu__list" data-lenis-prevent>
    <li class="nav-menu__list-item type--white text-center" data-nav-menu-item>
      <div class="inline-block relative">
        <a href="<%- navigation.data.about.url %>" class="nav-menu__link" data-tag="about" data-page-trigger="menu-link">
          <span class="flex" data-link-text>
            <% aTitle.forEach((a) => { %>
              <% if(a === " ") { %>
                <span class="no-wrap">&nbsp;</span>
              <% } else { %> 
                <span><%- a %></span>
              <% } %>
            <% }) %>
          </span>
        </a>
        <div class="no-overflow nav-link-line__wrapper">
          <span class="nav-link__line" data-nav-link-line></span>
        </div>
      </div>
      <div class="nav-menu__preview z-index--minus-1" style="background-image: url('<%- about.data.hero_image_main.url %>')" data-tag-prev="about" data-nav-menu-preview></div>
    </li>

    <% projects.forEach((project) => { %>
      <%
        let title = project.data.title
        let letters = title.split("")
        let projectTag = title.replace(/\s+/g, '-').toLowerCase();
        let projectImg = project.data.hero_image.url
        let externalLink = project.data.view_as_external_link? true : false
      %>
    <li class="nav-menu__list-item type--white text-center" data-nav-menu-item>
      <div class="inline-block relative">
        <a href="<% if(externalLink) { %> <%- project.data.project_link.url %> <%} else { %><%- project.url %><%} %>" class="nav-menu__link" <% if(externalLink) { %>target="_blank" <% } %> data-tag="<%- projectTag %>" data-page-trigger>
          <span class="flex" data-link-text>
            <% letters.forEach((l) => { %>
              <% if(l === " ") { %>
                <span>&nbsp;</span>
              <% } else { %> 
                <span><%- l %></span>
              <% } %>
            <% }) %>
          </span>
        </a>
        <div class="no-overflow nav-link-line__wrapper">
          <span class="nav-link__line" data-nav-link-line></span>
        </div>
      </div>
      <div class="nav-menu__preview z-index--minus-1" style="background-image: url('<%- projectImg %>')" data-tag-prev="<%- projectTag %>" data-nav-menu-preview></div>
    </li>
    <% }) %>
  </ul>
</div>