<div class="nav-menu" data-nav-menu>
  <div class="nav-menu__bg" data-nav-menu-bg>
    <svg class="bg" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path 
      class="bg-path"
      vector-effect="non-scaling-stroke"
      d="M 0 100 V 100 Q 50 100 100 100 V 100 z" />
    </svg>
    <% console.log(about) %>
    
  </div>
  <ul class="nav-menu__list">
    <li class="nav-menu__list-item text-center">
      <a href="<%- navigation.data.about.url %>" class="nav-menu__link" data-page-trigger>
        <span class="type--white no-overflow-y" data-link-text>
          <%- about.data.nav_menu_alias %>
        </span>
      </a>
      <div class="nav-menu__list-img" style="background-image: url('<%- about.data.hero_image_main.url %>')"></div>
    </li>
    <% projects.forEach((project)=> { %>
    <li class="nav-menu__list-item text-center">
      <a href="<%- project.url %>" class="nav-menu__link" data-page-trigger>
        <span class="type--white no-overflow-y" data-link-text>
          <%- project.data.title %>
        </span>
      </a>
      <div class="nav-menu__list-img" style="background-image: url('<%- project.data.hero_image.url %>')"></div>
    </li>
    <% }) %>
  </ul>
</div>