<section id="work" class="section--l-p-bottom" data-work data-scroll-container>
  <%
  projects.sort((a, b) => {
    let aNum = a.data.order
    let bNum = b.data.order
  
    return aNum - bNum
  })
  %>
  <div class="grid container projects">
    <% projects.forEach((project, index)=> { %>
      <% 
        let i = index + 1 
        let indexOutput = i.toString().padStart(2, '0')
        let projectTitle = project.data.title
        let projectTag = projectTitle.replace(/\s+/g, '-').toLowerCase();
        let projectTitleArr = projectTitle.split(" ")
        let externalLink = project.data.view_as_external_link? true : false
        let projectColour = project.data.project_colour
      %>

      <div class="project__card" data-project-card="<%- projectTag %>">
        <a href="<% if(externalLink) { %> <%- project.data.project_link.url %> <%} else { %><%- project.url %><%} %>" class="block no-overflow relative" <% if(externalLink) { %>target="_blank" <% } %>
          <% if(!externalLink) { %>data-page-trigger="morph"<%}%>>
          
          <% if(i > 5) { i == 1 } else { i = i } %>
          <div class="overlay absolute z-index--2" data-project-cover style="background-color: <%- projectColour %>"></div>
          <div class="project__img" data-project-img>
            <img src="<%- project.data.thumbnail.url %>?auto=compress,format&w=2000" alt="<%- project.data.title %>">
          </div>
        </a>

        <div class="project__meta" data-project-card-meta>
          <span class="type--s" data-project-card-meta-text><%- indexOutput %></span>
          <h4 class="type--s text-right">
            <% projectTitleArr.forEach((title) => { %>
              <span class="no-wrap--and-break" data-project-card-meta-text><%- title %></span>
            <% }) %>
            
          </h4>
        </div>
      </div>
    <%})%>
  </div>
</section>