<section id="work" class="section--l-bottom" data-work data-scroll-container>
  <%
  projects.sort((a, b) => {
    let aNum = a.data.order
    let bNum = b.data.order
  
    return aNum - bNum
  })
  %>
  <div class="grid container projects">
    <% projects.forEach((project, index)=> { %>
      <% 
        let i = index + 1 
        let indexOutput = i.toString().padStart(2, '0')
        let projectTitle = project.data.title 
        let projectTitleArr = projectTitle.split(" ")
        let scrollSpeed = i * 0.5
        let externalLink = project.data.view_as_external_link? true : false
      %>

      <div class="project__card" data-scroll data-scroll-speed="<%- scrollSpeed %>" data-project-card>
        <a href="<% if(externalLink) { %> <%- project.data.project_link.url %> <%} else { %><%- project.url %><%} %>" class="block no-overflow" <% if(externalLink) { %>target="_blank" <% } %>>
          
          <% if(i > 5) { i == 1 } else { i = i } %>
          
          <picture class="project__img" data-project-img>
            <source media="(min-width: 550px)" srcset="<%- project.data.thumbnail[`image_${i}`].url %>">
            <source media="(max-width: 549px)" srcset="<%- project.data.thumbnail.url %>">
            <img class="block--full-width" src="<%- project.data.thumbnail.url %>" alt="<%- project.data.title %>">
          </picture>
        </a>

        <div class="project__meta">
          <span class="type--s"><%- indexOutput %></span>
          <h4 class="type--s">
            <% projectTitleArr.forEach((title) => { %>
              <span class="no-wrap--and-break"><%- title %></span>
            <% }) %>
            
          </h4>
        </div>
      </div>
    <%})%>
  </div>
</section>