<% var images = slice.items %>

<% images.forEach((image) => { %>
  <% let thumbnail = image.thumbnail %>
  <% if (thumbnail.url !== undefined ) { %>
  <section class="section--l">
    <div class="container">
      <picture class="block">
        <source media="(max-width: 800px)" srcset="<%- thumbnail.small.url %>">
        <source media="(max-width: 1199px)" srcset="<%- thumbnail.url %>">
        <source media="(min-width: 1200px)" srcset="<%- thumbnail.large.url %>">
        <img class="block--full-width" src="<%- thumbnail.url %>" alt="<%- thumbnail.alt %>">
      </picture>
    </div>
  </section>
  <% } %>
<% })%>


