<% let media = slice %>
<section class="section--media">
  <div class="container">
    
    <% if(media.slice_type === 'full_width_image') { %>
      <% let thumbnail = media.primary.thumbnail_image %>

      <picture class="block">
        <source media="(max-width: 800px)" srcset="<%- thumbnail.small.url %>">
        <source media="(max-width: 1199px)" srcset="<%- thumbnail.url %>">
        <source media="(min-width: 1200px)" srcset="<%- thumbnail.large.url %>">
        <img class="block--full-width" src="<%- thumbnail.url %>" alt="<%- thumbnail.alt %>">
      </picture>
    
    <% } else if (media.slice_type === 'full_width_video') {%>
      <% 
      let videoPoster = media.primary.video_poster_image.url
      let video = media.primary.video.url
      %>
      <div class="block" data-video-frame="play-on-scroll">
        <video class="block--full-width" poster="<%- videoPoster %>" src="<%- video %>" muted loop playsinline controls data-video></video>
      </div>

    <% }%>
  </div>
</section>


