<% let media = slice %>
<section class="section--media">
  <div class="container">
    <% if(media.slice_type === 'full_width_image') { %>
      <% let thumbnail = media.primary.thumbnail_image %>
      <picture class="block">

        <source media="(max-width: 800px)"srcset="<%- thumbnail.url %>?auto=compress,format&w=900 1x,<%- thumbnail.url %>?auto=compress,format&w=1800 2x">
        
        <source media="(min-width: 801px)" srcset="<%- thumbnail.url %>?auto=compress,format&w=2824">
        <img class="block--full-width" src="<%- thumbnail.url %>?auto=compress&w=2824,format" alt="<%- thumbnail.alt %>">
      </picture>
    
    <% } else if (media.slice_type === 'full_width_video') {%>
      <% 
      let video = media.primary.video.url
      %>
      <div class="video__frame video-frame--landscape" data-video-frame="play-on-scroll">
        <video class="video--cover" src="<%- video %>" muted loop playsinline data-video></video>
      </div>

    <% }%>
    <% if(media.primary.caption) { %>
      <div class="section--tiny-m-top"><%if(media.primary.caption_title) { %><span class="type--uppercase type--family-alt type--xs type--semi-bold"><%- media.primary.caption_title %> </span><% }%><span class="type--xs">- <%- media.primary.caption%></span></div>
    <%} %>
  </div>
</section>


