<% 
  let block = slice.items
%>

<section class="section--l-m-bottom">
  <div class="container grid roi--grid-gap">
    <div class="roi__col">
      <div class="meta meta--margin-bottom">
        <div class="hr"></div>
        <span class="block type--alt-s type--semi-bold type--letter-sp">
          Impact of my work
        </span>
      </div>
    </div>
    
    <% block.forEach((item, index) => { %>
      <% let icon = item.icon.toLowerCase() %>
      <div class="roi__col">

        <div class="roi__icon roi--<%-icon%>">
          <%- include('../partials/svg/scale') -%>
          <%- include('../partials/svg/speed') -%>
          <%- include('../partials/svg/consistency') -%>
          <%- include('../partials/svg/smart') -%>

          <%- item.icon %>
        </div>
        <h3 class="type--s-special type--xs-margin">
          <%- item.impact_title %>
        </h3>
        <p class="type--xs">
          <%- item.impact_description %>
        </p>
      </div>
    <% }) %>
  </div>

</section>