<% let columns = slice.items %>

<section class="section--media">
  <div class="container two-column-grid two-column-grid--gap-xs">
    <% columns.forEach((col, index) => { %>
    
      <% 
        let i = index + 1 
        let mediaType = col.media_type.toLowerCase()
      %>

      <% if (mediaType === "image" && col.column_image.url) { %>
        <div class="column <% if(i % 2 == 0) { %>column--half-end <% } else { %>column--half-start<% } %>">
          <% let thumbnail = col.column_image %>

          <picture>
            <source media="(max-width: 767px)" srcset="<%- thumbnail.url %>?auto=compress,format&w=900 1x,<%- thumbnail.url %>?auto=compress,format&w=1800 2x">
            <source media="(min-width: 768px)" srcset="<%- thumbnail.url %>?auto=compress,format&w=694 1x,<%- thumbnail.url %>?auto=compress,format&w=1388 2x">
            <img class="block--full-width" src="<%- thumbnail.url %>?auto=compress,format&w=694" alt="<%- thumbnail.alt %>">
          </picture>
        </div>
      <% } else if (mediaType === "video" && col.video.url) {%>

        <% 
          let video = col.video.url
        %>
        <div class="column <% if(i % 2 == 0) { %>column--half-end <% } else { %>column--half-start<% } %>">
          <div class="video__frame video-frame--tall" data-video-frame="play-on-scroll">
            <video class="video video--cover" src="<%- video %>" muted loop playsinline controls data-video></video>
          </div>
        </div>
        
      <% } %>
    <% }) %>

  </div>
</section>
