<% let page = pageType %>

<%- include('./partials/head', { page: page } ) -%>

<body id="body" class="no-scrolling <% if( page !== 'project' ) { %>bg--grit-50<%} %>" data-body>
  <style>.main::after { background-image: url('/noise.png');}</style>
  
  <%- include('./partials/preloader') -%>
  
  <% if( page !== 'error' ) { %>
    <%- include('./partials/navigation-bar') -%>
    <%- include('./partials/navigation-menu') -%>
  <% } %>

  <%- include('./partials/cursor') -%>
  <main id="main" data-page="<%- page %>" class="main <%- page %>">
    <div class="overlay fixed bg--transparent-50 z-index--3 opacity--0 cursor--not-clickable" data-menu-content-overlay></div>

    <div class="flex flex--column bg--grit-50<% if( page !== 'project' ) { %> main--margin<%} %>" data-menu-move>
  
      <div class="<% if( page === 'error' ) { %>error-grid flex<% } else { %>section--container<% } %>">
        <% switch(page) {
          case 'project' : %>
            <%- include('./pages/project') %>
            <%  break; %>
          <% case 'about' : %>
            <%- include('./pages/about') -%>
            <% break; %>
          <% case 'error' : %>
            <%- include('./pages/error') -%>
            <% break; %>
          <% default : %>
          <%- include('./pages/home') -%>
        <% } %>
      </div>
      
    </div>
    <% if( page !== 'project' && page !== 'error' ) { %>
      <%- include('./partials/footer', { footer: footer.data }) -%>
    <% } %>
  </main>
  
  <script src="/main.js"></script>
</body>


