<% let page = pageType %>

<%- include('./partials/head', { page: page } ) -%>

<body class="no-scrolling <% if( page !== 'project' ) { %>bg--grit-50<%} %>" data-body>
  <style>.main::after { background-image: url('/noise.png');}</style>
  
  <%- include('./partials/preloader') -%>
  
  <main id="main" data-page="<%- page %>" class="main <%- page %>" data-scroll-container>
    
    <div class="<% if( page !== 'project' ) { %>bg--grit-50 main--margin<%} %>">
      <% if( page !== 'error' ) { %>
        <%- include('./partials/navigation-bar') -%>
      <% } %>
      <div class="<% if( page === 'error' ) { %>error-grid flex<% } else { %>section--s-top<% } %>">
        <% switch(page) {
          case 'project' : %>
            <%- include('./pages/project') %>
            <%  break; %>
          <% case 'about' : %>
            <%- include('./pages/about') -%>
            <% break; %>
          <% case 'error' : %>
            <%- include('./pages/error') -%>
            <% break; %>
          <% default : %>
          <%- include('./pages/home') -%>
        <% } %>
      </div>
      
    </div>
    <% if( page !== 'project' && page !== 'error' ) { %>
      <%- include('./partials/footer', { footer: footer.data }) -%>
    <% } %>
  </main>
  
  <script src="/main.js"></script>
</body>


