block variables
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, intital-scale=1.0")

    base(href="/")
    link(rel="icon" type="image/ico" href="../images/favicon.png")
    
    if template !== "home"
      title=document.data.title + " | " + meta.data.title
    else
      title=meta.data.title

    meta(name="description" content=meta.data.description)

    meta(property="og:url" content="https://www.lloydjamiebennett.co.uk")
    meta(property="og:title" content=meta.data.title)
    meta(property="og:description" content=meta.data.description)
    meta(property="og:type" content="website")
    meta(property="og:image" content=meta.data.image.url)

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@LloydBennett_")
    meta(name="twitter:title" content=meta.data.title)
    meta(name="twitter:description" content=meta.data.description)
    meta(name="twitter:image" content=meta.data.image.twitter.url)

    link(href="https://use.typekit.net/nsp0voe.css" rel="stylesheet")
    link(href="/main.css" rel="stylesheet")
    
    body
      include ./partials/navigation

      .content(data-template=template)
        block content
