<section>
  <div class="container grid">
    <% 
    let title = document.data.title
    let titleArr = title.split(" ")
    let image = document.data.hero_image
    let heroLabel = document.data.hero_label
    let labelArr = heroLabel.split(" ")
    let firstLabel = labelArr[0]
    let newLabel = labelArr.splice(1, 2).toString().replace(/,/g, " ")
    let description = document.data.hero_description

    %>
    
    <div class="home-hero__title mix-blend__diff type--white">
      <h1 class="type--xxl text-center mask-title--l">
        <% titleArr.forEach((text, index) => { %>
          <% 
          let i = index + 1  
          let letters = text.split("")
          %>

          <% if (i === titleArr.length) { %>
            <span class="type--italic home-hero__title-last mask-title__word inline-block no-overflow">
          <% } else if (i === (titleArr.length - 1)) { %>
            <span class="home-hero__title-pen mask-title__word inline-block no-overflow">
          <% } else { %>
            <span class="mask-title__word inline-block no-overflow">
          <% } %>
            <% letters.forEach((char, i)=> { %><span class="inline-block" data-title-reveal><%- char %></span><% })%>
          </span>
        <% }) %>
  
      </h1>
    </div>
    <div class="column--centered home-hero__image">
      <div data-parallax="10" data-parallax-scrub="0.2">
        <div class="home-hero__image-wrapper rotate--s no-overflow center-block" data-hero-image-container>
          <div class="home-hero__image-thumb" style="background: url('<%- image.large.url %>') center no-repeat; background-size: cover" data-hero-image></div>
        </div>
      </div>
      
      <div class="home-hero__cta" data-home-cta>
        <%- include('../partials/scroll-button') -%>
      </div>
      
    </div>
    
    <div class="home-hero__label">
      <p class="type--alt-l text-right no-wrap type--grit-400 no-overflow">

        <span class="no-overflow block">
          <span class="inline-block" data-text-reveal><%- firstLabel %></span>
        </span>
        <span class="no-overflow block">
          <span class="inline-block" data-text-reveal><%- newLabel %></span>
        </span>
      </p>
    </div>

    <div class="home-hero__intro">
      <p class="type--body text-center type--grit-400" data-text="line-break" data-intro-text>
        <%- description %>
      </p>
    </div>
  </div>
</section>

<section class="section--l-m-both">
  <div class="container grid">
    <div class="services__call-out section--m-m-bottom">
      <h4 class="type--call-out" data-text>
        <%- document.data.call_out_text %>
      </h4>
    </div>
    <div class="services">
      <% 
        let list = document.data.services_list
        
      %>
      <ul class="services__list">
        <% for(skill in list) { %>
          <li>
            <p class="services__list-item">
             <%- list[skill].service %>
            </p>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</section>

<%- include('../partials/marquee', { label: document.data.belt_label, small_spacing: false, hide_extra_labels: false }) -%>

<%- include('../partials/project-list', { project: projects }) -%>

