<% 
  let projectTitle = document.data.title 
  let projectTitleArr = projectTitle.split(" ")
  let projectIndex
  let isNext = false
  let nextTitle
  let nextImg
  let nextUrl
  
%>
<% projects.forEach((obj, i) => { 
  
  if(obj.data.title === projectTitle) {
    let count = i + 1 
    let ntitle
    projectIndex = count.toString().padStart(2, '0');
    isNext = true;
    
    if(i === projects.length - 1) {
      ntitle = projects[0].data.title 
      nextImg = projects[0].data.hero_image.large.url
      nextUrl = projects[0].url
    } else {
      ntitle = projects[count].data.title 
      nextImg = projects[count].data.hero_image.large.url
      nextUrl = projects[count].url
    }
    nextTitle = ntitle.split(" ")
    return
  }

} ) %>

<section class="section section--m">
  <div class="section--m">
    <div class="hero__project container">
      <div class="hero__project-no">
        <span class="type--xl">
          <%- projectIndex %>
        </span>
      </div>
      
      <h1 class="type--xl hero__project-title">
        <% projectTitleArr.forEach((title) => { %>
          <span class="no-wrap--and-break"><%- title %></span>
        <% }) %>
      </h1>
    </div>
  </div>
  <picture class="block">
    <source media="(max-width: 700px)" srcset="<%- document.data.hero_image.small.url %>">
    <source media="(max-width: 1270px)" srcset="<%- document.data.hero_image.url %>">
    <source media="(min-width: 1271px)" srcset="<%- document.data.hero_image.large.url %>">
    <img class="block--full-width" src="<%- document.data.hero_image.url %>" alt="<%- document.data.hero_image.alt %>">
  </picture>
</section>


<section class="section--l">
  <div class="container grid">
    <% 
    let services = document.data.services
    let industries = document.data.industries
    let intro = document.data.introduction
    
    %>
    <div class="aside section--l">
      <div class="aside__content">
        <h4 class="type--body type--s-margin">
          Services
        </h4>
        <ul class="list">
        <% services.forEach((service, i) => { %>
          <li class="list__item">
            <p class="type--body type--grit-400">
              <%- service.skill %>
            </p>
          </li>
        <% }) %>
        </ul>
      </div>
      <div class="aside__content">
        <h4 class="type--body type--s-margin">
          Industry
        </h4>
        <ul class="list">
          <% industries.forEach((elem) => { %>
            <li class="list__item">
              <p class="type--body type--grit-400">
                <%- elem.industry %>
              </p>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div class="offset-content">
      <div class="meta meta--margin-bottom">
        <div class="hr"></div>
        <span class="block type--alt-s type--semi-bold type--letter-sp">
          The Challenge
        </span>
      </div>
      <% intro.forEach((obj, i) => { %>
        <% if(obj.intro_title !== null) { %>
          <h3 class="type--m type--m-margin">
            <%- obj.intro_title %>
          </h3>
        <% } %>
        <% if(obj.intro_body !== null) { %>
          <p class="type--body type--grit-400">
            <%- obj.intro_body %>
          </p>
        <% } %>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../SliceZone.ejs', {SliceZone: document.data.body}) %>

<section class="section--l">
  <% 
    let outcome = document.data.outcome
    
    %>
  <div class="container grid">
    <div class="offset-content">
      <div class="meta meta--margin-bottom">
        <div class="hr"></div>
        <span class="block type--alt-s type--semi-bold type--letter-sp">
          The Outcome
        </span>
      </div>
      <% outcome.forEach((obj, i) => { %>
        <% if(obj.outcome_title !== null) { %>
          <h3 class="type--m type--m-margin">
            <%- obj.outcome_title %>
          </h3>
        <% } %>
        <% if(obj.outcome_body !== null) { %>
          <p class="type--body type--grit-400">
            <%- obj.outcome_body %>
          </p>
        <% } %>
      <% }) %>
    </div>

  </div>
</section>