extends ../base

block variables
  - var template ='project'

block content
  section.section--l
    .section--s
      .container.grid
        h1.type--xl.no-margin--bottom=document.data.title
    picture.block
      source(media="(max-width: 700px)" srcset=document.data.hero_image.small.url)
      source(media="(max-width: 1270px)" srcset=document.data.hero_image.url)
      source(media="(min-width: 1271px)" srcset=document.data.hero_image.large.url)
      img.block--full-width(src=document.data.hero_image.url alt=document.data.hero_image.alt)
