<% 
  let projectTitle = document.data.title 
  let projectTitleArr = projectTitle.split(" ")
  let projectIndex
  let isNext = false
  let nextTitle
  let nextImg
  let nextUrl
  let projectColour = document.data.project_colour
  
%>
<% projects.forEach((obj, i) => { 
 
  if(obj.data.title === projectTitle) {
    let count = i + 1 
    let ntitle
    projectIndex = count.toString().padStart(2, '0');
    isNext = true;
    
    if(i === projects.length - 1) {
      ntitle = projects[0].data.title 
      nextImg = projects[0].data.hero_image.large.url
      nextUrl = projects[0].url
    } else {
      ntitle = projects[count].data.title 
      nextImg = projects[count].data.hero_image.large.url
      nextUrl = projects[count].url
    }
    nextTitle = ntitle.split(" ")
    return
  }
} ) %>

<section class="section section--m-m-bottom">
  <div class="section--m-m-bottom">
    <div class="hero__project container">
      <div class="hero__project-no">
        <span class="type--xl">
          <% let numbers = projectIndex.split("") %>
          <% numbers.forEach((digit, i)=> { %><span class="inline-block" data-title-reveal><%- digit %></span><% })%>
        </span>
      </div>
      
      <h1 class="type--xl hero__project-title">
        <% projectTitleArr.forEach((title) => { %>
          <% let letters = title.split("") %>
          <span class="no-wrap--and-break">
            <% letters.forEach((char, i)=> { %><span class="inline-block" data-title-reveal><%- char %></span><% })%>
          </span>
        <% }) %>
      </h1>
    </div>
  </div>
  <div class="relative no-overflow" data-hero-image-container>
    <div class="overlay absolute z-index--2" data-image-cover style="background-color: <%- projectColour %>"></div>
    <picture class="block" data-hero-image>
      <source media="(max-width: 700px)" srcset="<%- document.data.hero_image.small.url %>">
      <source media="(max-width: 1270px)" srcset="<%- document.data.hero_image.url %>">
      <source media="(min-width: 1271px)" srcset="<%- document.data.hero_image.large.url %>">
      <img class="block--full-width" src="<%- document.data.hero_image.url %>" alt="<%- document.data.hero_image.alt %>">
    </picture>
  </div>
  
</section>


<section class="section--l-m-bottom">
  <div class="container grid">
    <% 
    let services = document.data.services
    let industries = document.data.industries
    let intro = document.data.introduction

    
    
    %>
    <div class="aside section--l-m-bottom">
      <div class="aside__content">
        <h4 class="type--body type--s-margin">
          Services
        </h4>
        <ul class="list">
        <% services.forEach((service, i) => { %>
          <% 
              let slug = service.skill.slug 
              let updatedString = slug.replace(/-/g, " ")
              let skill = updatedString
                .split(" ")
                .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())
                .join(" ")
          %>
          <li class="list__item">
            <p class="type--body type--grit-400">
              <%- skill %>
            </p>
          </li>
        <% }) %>
        </ul>
      </div>
      <div class="aside__content">
        <h4 class="type--body type--s-margin">
          Industry
        </h4>
        <ul class="list">
          <% industries.forEach((elem) => {
            let industry
            if (elem.category && elem.category.slug) {
              let slug = elem.category.slug
              let hasSpace 
              let updatedString
                
              if(/--/.test(slug)) { 
                updatedString = slug.replace(/--/g, " & ")
                hasSpace = false
              } else {
                updatedString = slug.replace(/-/g, " ")
                hasSpace = true
              }

              industry = updatedString.split(" ").map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(" ")
            }                       
            %>
            <% if (industry) { %>
            <li class="list__item">
              <p class="type--body type--grit-400">
                <%- industry %>
              </p>
            </li>
            <% }%>
            
          <% }) %>
        </ul>
      </div>
    </div>
    <div class="offset-content">
      <div class="meta meta--margin-bottom">
        <div class="hr"></div>
        <span class="block type--alt-s type--semi-bold type--letter-sp">
          The Challenge
        </span>
      </div>
      <% intro.forEach((obj, i) => { %>
        <% if(obj.intro_title !== null) { %>
          <h3 class="type--m type--m-margin">
            <%- obj.intro_title %>
          </h3>
        <% } %>
        <% if(obj.intro_body !== null) { %>
          <p class="type--body type--grit-400">
            <%- obj.intro_body %>
          </p>
        <% } %>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../SliceZone.ejs', {SliceZone: document.data.body}) %>

<section class="section--end">
  <% 
    let outcome = document.data.outcome
    
    %>
  <div class="container grid">
    <div class="offset-content">
      <div class="meta meta--margin-bottom">
        <div class="hr"></div>
        <span class="block type--alt-s type--semi-bold type--letter-sp">
          The Outcome
        </span>
      </div>
      <% outcome.forEach((obj, i) => { %>
        <% if(obj.outcome_title !== null) { %>
          <h3 class="type--m type--m-margin">
            <%- obj.outcome_title %>
          </h3>
        <% } %>
        <% if(obj.outcome_body !== null) { %>
          <p class="type--body type--grit-400">
            <%- obj.outcome_body %>
          </p>
        <% } %>
      <% }) %>
    </div>

  </div>
</section>