<div class="section section--l">
  <div class="section--s">
    <div class="hero__project container">
      <div class="hero__project-no">
        <span class="type--xl">
          01
        </span>
      </div>
      <% 
        var projectTitle = document.data.title 
        var projectTitleArr = projectTitle.split(" ")
      %>
      <h1 class="type--xl hero__project-title">
        <% projectTitleArr.forEach((title) => { %>
          <span class="no-wrap--and-break"><%- title %></span>
        <% }) %>
      </h1>
    </div>
  </div>
  <picture class="block">
    <source media="(max-width: 700px)" srcset="<%- document.data.hero_image.small.url %>">
    <source media="(max-width: 1270px)" srcset="<%- document.data.hero_image.url %>">
    <source media="(min-width: 1271px)" srcset="<%- document.data.hero_image.large.url %>">
    <img class="block--full-width" src="<%- document.data.hero_image.url %>" alt="<%- document.data.hero_image.alt %>">
  </picture>
</div>


<div class="section--l">
  <div class="container grid">
    <% 
    let services = document.data.services
    let industries = document.data.industries
    let intro = document.data.introduction
    
    %>
    <div class="aside">
      <div>
        <h4 class="type--body">
          Services
        </h4>
        <ul>
        <% services.forEach((service, i) => { %>
          <li>
            <p class="type--body"><%- service.skill %></p>
          </li>
        <% }) %>
        </ul>
      </div>
      <div>
        <h4 class="type--body">
          Industry
        </h4>
        <ul>
          <% industries.forEach((elem) => { %>
            <li>
              <p class="type--body"><%- elem.industry %></p>
            </li>
          <% }) %>
        </ul>
      </div>
      

    </div>
    <div class="offset-content">
      <% intro.forEach((obj, i) => { %>
        <% if(obj.intro_title !== null) { %>
          <h3 class="type--m">
            <%- obj.intro_title %>
          </h3>
        <% } %>
        <% if(obj.intro_body !== null) { %>
          <p class="type--body">
            <%- obj.intro_body %>
          </p>
        <% } %>
      <% }) %>
    </div>
  </div>
</div>

<%- include('../SliceZone.ejs', {SliceZone: document.data.body}) %>